.board { 
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: 
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
    border: 1px solid grey;
}

.rain-canvas {
    display: block;
}

.hidden {
    display: block;
    position: relative;
    margin: 0 auto;
    padding-bottom: 1%;
}