.centerScreen { 
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.title {
    top: 40%;
    color: white;
    font-size: 36px;
}

.startMsg {
    top: 50%;
    color: white;
    font-size: 20px;
}