.container {
  overflow: hidden;
}

.kypW {
    position: fixed;
    bottom: 5%;
    left: 3%;    
    z-index: 1!important;  
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.sliding-background {
  background: url('../../assets/city_bg_long.png') repeat-x;
  height: 972px;
  width: 9288px;
  top: -45px;
  animation: slide 60s linear infinite;
  position: relative;
  z-index: 0;
} 

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}