.centerScreen { 
    user-select: none!important;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.title {
    top: 40%;
    color: white;
    font-size: 36px;
}

.controls {
    top: 52%;
    color: white;
    font-size: 20px;
}

.msg {
    top: 60%;
    color: white;
    font-size: 20px;
}