@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34; 
  color:ghostwhite;
}

.logo {
  background-image: url("https://imgur.com/JnIzhMG.png");
  width: 100%;
  height: auto;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:8%;
  width:100%;
  background: none;
  align-items: center;
  justify-content: center;
}