@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34; 
  color:ghostwhite;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:8%;
  width:100%;
  background: none;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 0;
  padding-bottom: 0;
}

.play {
  font-family: 'Comic Sans MS';
  font-size: 36px;
  text-decoration: none;
  background: none;
  border: none;
  color: ghostwhite;
  margin-top: 10%;
  user-select: none;
  outline: none;
}

.play:hover {
  color: rgba(255, 255 ,255, 0.7);
}