@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
  font-family: 'Press Start 2P', sans-serif;
  background-image: linear-gradient(-45deg, #95005A, #1A006F);
  color:ghostwhite;

}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:8%;
  width:100%;
  background: none;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 0;
  padding-bottom: 0;
}

.play {
  font-family: 'Press Start 2P';
  font-size: 36px;
  text-decoration: none;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  background: #4CAF50;
  padding: 15px 32px;
  border: 8px solid black;
  border-radius: 8px;
  color: ghostwhite;
  margin-top: 10%;
  user-select: none;
  outline: none;
  text-align: center;
}

.play:hover {
  color: rgba(255, 255 ,255, 0.7);
  background-color: rgba(0,128,0, 1.0);
}
